<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ECLIPSEWORK</title>
    <link rel="stylesheet" href="workspace.css" />
</head>

<body>

    <header>
        <div class="left-zone">
            <h1 class="logo-title">ECLIPSEWORK</h1>

            <nav>
                <a href="#">Dashboard</a>
                <a href="#">Projects</a>
                <a href="#">Tasks</a>
            </nav>
        </div>

        <div class="user-zone">
            <img src="../../dz/usthb/eclipseworkspace/ressources/user.png" class="user-icon" />
            <span class="user-name">Full Name</span>
        </div>
    </header>

    <!-- MAIN CONTENT -->
    <section class="workspace-container">

        <h2 class="workspace-title">Monthly Progression - Project 1</h2>

        <div class="chart-container">

            <div class="chart-header">
                <span>Start Date</span>
                <span>12/12/2025</span>
                <span>12/19/2025</span>
                <span>12/26/2025</span>
                <span>01/02/2026</span>
                <span>01/09/2026</span>
                <span>End Date</span>
            </div>

            <div class="tasks-list">

                <!-- One task row -->
                <div class="task-row">
                    <div class="task-bar" style="--start:10%; --end:80%;">TASK 1</div>
                </div>

                <div class="task-row">
                    <div class="task-bar" style="--start:5%; --end:60%;">TASK 1</div>
                </div>

                <div class="task-row">
                    <div class="task-bar" style="--start:20%; --end:65%;">TASK 1</div>
                </div>

                <div class="task-row">
                    <div class="task-bar" style="--start:15%; --end:95%;">TASK 1</div>
                </div>

            </div>
        </div>

    </section>

</body>

</html>
